<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wolf Page</title>
</head>
<body>
  <h1>This Wolf is...</h1>
  <p>Name: <%= wolf.name %> </p>
  <p>Color: <%= wolf.color %></p>
  <p>Owner: <%= wolf.owner %></p>
</body>
</html>
