<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quoting Dojo</title>
</head>
<body>
  <form action="/quote" method="POST">
    <h1>Welcome to QuotingDojo</h1>
    <p>Your name: <input type="text" name='name'></p>
    <p>Your quote: <input type="text" name='quote'></p>
    <button>Add my Quote!</button>
  </form>
  <a href="/skip"><button>Skip to quotes!</button></a>
</body>
</html>
