<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Add Wolf</h1>
  <form action="/wolves" method="POST">
    <p>Name: <input type="text" name='name'></p>
    <p>Color: <input type="text" name='color'></p>
    <p>Owner: <input type="text" name='owner'></p>
    <button>Submit</button>
  </form>
</body>
</html>
